.fully-centered {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    * {
        text-align: center;
    }
}

.v-centered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.h-centered {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    * {
        text-align: center;
    }
}

body {
    background-color: #1a1a1a;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

input, button {
    height: 5vh;
    min-height: 35px;
    max-height: 50px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: none;
}

input {
    width: 20vw;
    min-width: 200px;
    text-align: center;
}

button {
    margin: 10px;
    width: fit-content;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, a, p, label, li, span {
    color: white;
}

a {
    text-decoration: underline #FF00F0;
}
a:hover {
    background-color: #FF00F0;
    transform: scale3d(20px);
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #5353537b;
    height: max-content;
    padding: 1em;
    width: max-content;
    position: fixed;
    border-bottom-right-radius: 15px;
    border-bottom: #ffffff solid 1px;
    border-right: #ffffff solid 1px;
}

footer {
    width: 100%;
    background-color: black;
    margin-top: 5em;
    border-top: #ffffff solid 1px;
    height: 100%;
    min-height: 200px;
}

img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.icon {
    max-height: 80px;
    max-width: 80px;
}

.avatar {
    max-height: 80px;
    max-width: 80px;
    border: #ffffff solid 2px;
    border-radius: 25px;
}

::selection {
    background-color: #FF00F0;
    color: #ffffff;
}