@import 'tailwindcss';
@plugin '@iconify/tailwind4';

@font-face {
	font-family: Jersey10;
	src: url('/Jersey10-Regular.ttf') format('truetype');
}

@theme {
	--font-sans: Jersey10;

	--color-neutral: #aaaaaa;
	--color-neutral-content: black;
	--color-accent: #ff9bd1;
	--color-accent-content: black;
	--color-shadow: #222222;
	--color-selection: #5BCFFF;
	--color-selection-content: black;

	--titlebar-height: calc(var(--spacing) * 7); /* h-7 */

	--text-xs: 0.875rem;
	--text-xs--line-height: 1; /* calc(1.25 / 0.875) */
	--text-sm: 1rem;
	--text-sm--line-height: 1; /* calc(1.5 / 1) */
	--text-base: 1.125rem;
	--text-base--line-height: 1; /* calc(1.75 / 1.125) */
	--text-lg: 1.25rem;
	--text-lg--line-height: 1; /* calc(1.75 / 1.25) */
	--text-xl: 1.5rem;
	--text-xl--line-height: 1; /* calc(2 / 1.5) */
	--text-2xl: 1.875rem;
	--text-2xl--line-height: 1; /* calc(2.25 / 1.875) */
	--text-3xl: 2.25rem;
	--text-3xl--line-height: 1; /* calc(2.5 / 2.25) */
	--text-4xl: 3rem;
	--text-4xl--line-height: 1;
	--text-5xl: 3.75rem;
	--text-5xl--line-height: 1;
	--text-6xl: 4.5rem;
	--text-6xl--line-height: 1;
	--text-7xl: 6rem;
	--text-7xl--line-height: 1;
	--text-8xl: 8rem;
	--text-8xl--line-height: 1;
	--text-9xl: 10rem;
	--text-9xl--line-height: 1;
}

::selection {
	background-color: var(--color-selection);
	color: var(--color-selection-content);
}

/* * {
	line-height: 100%
} */

/* * {
	scrollbar-width: thin;
	scrollbar-color: yellow blue;
} */
