body {
    /* background-image: url('https://cataas.com/cat'); Moved into the page for avoid image caching*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#message {
    position: absolute;
    cursor: move;
    width: max-content;
    overflow: hidden;
}