.title {
    font-size: 3em;
    text-align: center;
}

#welcome {
    margin-bottom: 0;
}

#host {
    margin-top: 0;
    transition: transform 0.3s ease-out;
    font-style: italic;
}
#host:hover {
    transform: scale(1.5);
}