.title {
    font-size: 3em;
    text-align: center;
    margin: 0;
}

#host {
    transition: 0.2s ease-in-out;
    font-style: italic;
}
#host:hover {
    transform: scale(1.5);
}

#welcomeDiv {
    height: 100vh;
    width: 100%;
    border-bottom: white solid 1px;
    margin-bottom: 3em;
}

.question {
    width: 100%;
    margin-bottom: 2em;

    * {
        text-align: center;
    }
}