#message {
    position: absolute;
    cursor: move;
    width: max-content;
    overflow: hidden;
    z-index: 1000;
}

.message-animation {
    animation: bzzz 1s linear forwards;
}

@keyframes bzzz {
    0% {
        transform: translate(-5px, -5px);
    }
    25% {
        transform: translate(5px, 5px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    75% {
        transform: translate(5px, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#move-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background-image: url('/icons/move.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

.disapear {
    animation: disapear 1s linear forwards;
}

@keyframes disapear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}